.ajg-color{
    background-color: rgb(66, 103, 133);       
    color: white;    
}

.ajg-button{
    background-color: rgb(66, 103, 133);    
    color: white;    
}
.ajg-button:hover{
    color:white;    
    background-color: rgb(88, 137, 177); 
}

.ajg-title-dark{
    color: rgb(0,38,62);
}

.ajg-color-dark{
    background-color: rgb(0,38,62);
    color: white;  
}

.ajg-dark-button{   
    background-color: rgb(0,38,62) !important; 
    color: white !important;  
}

.ajg-light-button{
    background-color: white !important;
    color: rgb(0,38,62) !important;
}
.ajg-light-button:hover{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0,38,62);
    border-radius: 5%;
}

#light-list ul li a{
    background-color: white ;
    color: rgb(0,38,62) ;
}

#light-list ul li a:hover{
    background-color: white ;
    color: rgb(0,38,62) ;
    border-bottom-color:rgba(0, 38, 62, 0.432);
    border-bottom-width: 2px;   
    border-bottom-style: solid;    
}

.title{
    color: white;
}

.padre{
    display:flex;
    flex-direction:row;
    flex-flow: row wrap;
}

.load{    
    display: block;
    margin: auto;        
    background-color: white;
    border-radius: 50px;            
}

